# PUBLIC CONFIG
name: 'footearth-blog'
version: '0.0.0'
description: 'footearth-blog'
author: 'FooTearth <footearth@gmail.com>'
main: 'start.sh'
license: 'MIT'
repository:
  type: 'git'
  url: 'https://github.com/footearth/footearth-blog.git'
bugs:
  url: 'https://github.com/footearth/footearth-blog/issues'
homepage: 'https://github.com/footearth/footearth-blog'
Keywords: [
  'docker'
  'daocloud'
  'gitbook'
  'blog'
]

# BOWER CONFIG
bower:
  dependencies: []
  devDependencies: []

# NPM CONFIG
npm:
  bin: {}
  scripts:
    start: 'pm2 dump && pm2 startOrRestart ./bin/gitbook.pm2.json'
    stop: 'pm2 kill'
    restart: 'npm stop; npm start'

    dev: 'gitbook serve -v 2.1.0 ./src'

    clean: 'rm -rf ./build; rm -rf ./dist; rm -rf ./.tmp/'
    build: 'gitbook build ./src --gitbook=2.1.0; mv ./src/_book/ ./build'
    serve: 'hs ./build'
    rebuild: 'npm run clean; npm run build; npm run serve'

    publish: 'npm run clean; npm run build; gulp pages; npm run clean'

    docker_build: 'docker build --rm -t mooxe/gitbook ./'
    docker_in: 'docker run -t -i -p \\80\\:3000 mooxe/gitbook /bin/bash/'
    docker_run: 'docker run -d -p \\80\\:3000 mooxe/gitbook'

    test: ''
  dependencies: []
  devDependencies: [
    'coffee-script'
    'shelljs'
    'toa'
    'toa-static'
    'gitbook-plugin-ga'
    'gitbook-plugin-baiduana'

    gulp: [
      'npb-coffee'
      'run-sequence'
      'gulp-gh-pages'
    ]
  ]

# NPB CONFIG
npb:

#  bower:
#    root_allow: true
  npm:
    commander: 'npm' # default
    # commander: 'cnpm'

# -- build tools --
#  build: 'gulp'  # default
#  build: 'grunt'
